@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
}

.has-nav {
  --swiper-navigation-size: 14px;
}

.has-nav .swiper-button-next {
  right: 2% !important;
}

.has-nav .swiper-button-prev {
  left: 2% !important;
}

.hero-swiper {
  position: relative;
}

.hero-swiper .hero-pagination {
  position: absolute;
  bottom: 5% !important;
  left: 77% !important;
  display: none;
  z-index: 20;
}

@media (min-width:768px) {
  .hero-swiper .hero-pagination {
    display: flex;
    gap: 8px;
  }
}

.hero-swiper .swiper-wrapper {
  transition-timing-function: cubic-bezier(.22, 1, .36, 1) !important;
}

.has-nav .swiper-button-next,
.has-nav .swiper-button-prev {
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin-top: 0 !important;
  width: 20px;
  height: 20px;
  color: #0a0a0a;
  opacity: .7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-iran: "Shabnam", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
  --font-sans: var(--font-iran);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Shabnam";
  src: url("/font/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("/font/Shabnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-sans);
}


.swiper-pagination-bullet-active {
  background: #4aa957 !important;
}